{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
    <title>Photography</title>
    <!-- style sheets-->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
 <div class="row">

  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="cardholder">
        <div class="card">
            <img  style="width: 300px; max-height:500px;" src="{%static 'images/bulb.jpg'%}">

          <p class="desc"></p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="cardholder">
        <div class="card">
           <img  style="width: 300px; max-height:500px;" src="{%static 'images/bullet.jpg'%}">
          <p class="desc"></p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="cardholder">
        <div class="card">
           <img style="width: 300px; max-height:500px;" src="{%static 'images/vincas.jpg'%}">
          <p class="desc"></p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="cardholder">
        <div class="card">
           <img  style="width: 300px; max-height:500px;" src="{%static 'images/bubble.jpg'%}">
          <p class="desc"></p>
        </div>
      </div>
    </div>

      <div class="col-md-3">
      <div class="cardholder">
        <div class="card">
           <img  style="width: 300px; max-height:500px;" src="{%static 'images/scooty.jpg'%}">
          <p class="desc"></p>
        </div>
      </div>
    </div>

      <div class="col-md-3">
      <div class="cardholder">
        <div class="card">
           <img  style="width: 300px; max-height:500px;" src="{%static 'images/lamps.jpg'%}">
          <p class="desc"></p>
        </div>
      </div>
    </div>

      <div class="col-md-3">
      <div class="cardholder">
        <div class="card">
           <img  style="width: 300px; max-height:500px;" src="{%static 'images/moon.jpg'%}">
          <p class="desc"></p>
        </div>
      </div>
    </div>

      <div class="col-md-3">
      <div class="cardholder">
        <div class="card">
           <img  style="width: 300px; max-height:300px;" src="{%static 'images/sunflower.jpg'%}">
          <p class="desc"></p>
        </div>
      </div>
    </div>

      <div class="col-md-3">
      <div class="cardholder">
        <div class="card">
           <img  style="width: 300px; max-height:500px;" src="{%static 'images/watch.jpg'%}">
          <p class="desc"></p>
        </div>
      </div>
    </div>

      <div class="col-md-3">
      <div class="cardholder">
        <div class="card">
           <img  style="width: 300px; max-height:300px;" src="{%static 'images/red.jpg'%}">
          <p class="desc"></p>
        </div>
      </div>
    </div>

      <div class="col-md-3">
      <div class="cardholder">
        <div class="card">
           <img  style="width: 300px; max-height:300px;" src="{%static 'images/model.jpg'%}">
          <p class="desc"></p>
        </div>
      </div>
    </div>

      <div class="col-md-3">
      <div class="cardholder">
        <div class="card">
           <img  style="width: 455px; max-height:300px;" src="{%static 'images/car1.jpg'%}">
          <p class="desc"></p>
        </div>
      </div>
    </div>





  </div>
</div>
</body>
</html>