{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RESUME</title>
</head>
<body>
<div class="vc_row wpb_row vc_inner vc_row-fluid make-text-align-center make-button-margin">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
             <div class="wpb_wrapper">
                 <a href=# class="btn identity-hover-button" style="color:#ffffff; background-color: rgba(0,0,0,0.01); border: 2px solid #ffffff;">HIRE ME</a><a target="_blank" href=# class="btn btn-primary btn-lg identity-hover-button" style="color:#ffffff; background-color: #428bca; border: 2px solid #357ebd;">
                 <img src="https://res.cloudinary.com/dch9d6ecr/image/upload/v1486881254/Logomakr_2pKBtG_xsultr.png" class="fa fa-download"></img> Download Resume</a>
</div>
</div>
</div>
</div>
</div>
<
</body>
</html>